<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>サンプルショッピング</title>
	
</head>

<body>
	<div class="container">
		<h1 class="text-center">サンプルショッピング</h1>
		<div class="payment-box mx-auto">
			<h2 class="text-center">お支払い方法</h2>
			<form>
				<div class="form-group">
					<label>お支払い方法</label><br>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="paymentMethod" id="cashOnDelivery"
							value="cash">
						<label class="form-check-label" for="cashOnDelivery">代金引換</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="paymentMethod" id="creditCard" value="credit"
							checked>
						<label class="form-check-label" for="creditCard">クレジットカード</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="paymentMethod" id="newCard" value="new">
						<label class="form-check-label" for="newCard">新規カード</label>
					</div>
				</div>
				<div class="form-group">
					<label for="cardNumber">番号</label>
					<input type="text" class="form-control" id="cardNumber" placeholder="カード番号を入力してください">
				</div>
				<div class="form-group">
					<label for="expiryDate">期限</label>
					<input type="text" class="form-control" id="expiryDate" placeholder="MM / YY">
				</div>
				<div class="form-group">
					<label for="securityCode">セキュリティコード</label>
					<input type="text" class="form-control" id="securityCode" placeholder="セキュリティコードを入力してください">
				</div>
				<div class="form-group">
					<label for="nameOnCard">名前(英字)</label>
					<input type="text" class="form-control" id="nameOnCard" placeholder="名前を入力してください">
				</div>
				<div class="text-center">
					<button type="button" class="btn btn-secondary">情報入力へ戻る</button>
					<button type="submit" class="btn btn-primary">確認画面へ</button>
				</div>
			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>