<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>サンプルショッピング - マイページ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="bg-light">

    <header th:replace="header"></header>

    <div class="container mt-4 bg-white p-4">
        <h5>お客様情報</h5>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">名前</th>
                    <td>太郎</td>
                </tr>
                <tr>
                    <th scope="row">電話番号</th>
                    <td>090-1234-5678</td>
                </tr>
                <tr>
                    <th scope="row">Eメール</th>
                    <td>aaa@example.com</td>
                </tr>
                <tr>
                    <th scope="row">郵便番号</th>
                    <td>220-0004</td>
                </tr>
                <tr>
                    <th scope="row">都道府県</th>
                    <td>神奈川県</td>
                </tr>
                <tr>
                    <th scope="row">住所</th>
                    <td>横浜市西区みなとみらい</td>
                </tr>
                <tr>
                    <th scope="row">建物名</th>
                    <td>みなとみらいビル</td>
                </tr>
            </tbody>
        </table>
		<a href=#>パスワード変更はこちら</a><br>
		<a href=#>住所追加はこちら</a><br>
		<a href=#>決済情報追加</a><br>
        <h5 class="mt-4">注文履歴</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>注文番号</th>
                    <th>注文日</th>
                    <th>合計金額</th>
                    <th>支払い方法</th>
                    <th>詳細</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2025/05/01</td>
                    <td>5,000円</td>
                    <td>クレジットカード</td>
                    <td><a href="#" class="btn btn-link">詳細を見る</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2025/05/02</td>
                    <td>12,800円</td>
                    <td>代金引換</td>
                    <td><a href="#" class="btn btn-link">詳細を見る</a></td>
                </tr>
            </tbody>
        </table>
		<button class="btn btn-dark btn-sm mt-2"ll>会員退会</button>
    </div>

</body>

</html>
